body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.author {
	position: fixed;
	font-size: 10px;
	right: 0;
    bottom: 0;
}

.note {
	font-family: "Times New Roman", Georgia, Serif;
    font-size: 24px;
	color: brown;
	font-weight: bold;
	
}

iframe {
	padding: 35px;
	height: 90%;
	width: 90%;
}


